@page "/employees"

<PageTitle>Employees</PageTitle>

<Modal @ref="modal" Title="@title">
    <BodyTemplate>
        <EditForm Model="@_employee" OnValidSubmit="@AddNewEmployee">
            <DataAnnotationsValidator />
            <ValidationSummary />
            <div class="container-fluid">
                <div class="row">
                    <div class="form-group">
                        <label for="title">Title</label>
                        <select class="form-select" @bind="_employee.Title" aria-label="Select Title" id="title">
                            <option selected>Select Title</option>
                            <option value="Mr">Mr</option>
                            <option value="Ms">Ms</option>
                            <option value="Mrs">Mrs</option>
                        </select>
                        <ValidationMessage For="() => _employee.Title" />
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="form-group">
                        <label for="name">Name:</label>
                        <InputText @bind-Value="_employee.FirstName" type="text" class="form-control" id="name"></InputText>
                        <ValidationMessage For="() => _employee.FirstName" />
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="form-group">
                        <label for="last-name">Surname:</label>
                        <InputText @bind-Value="_employee.LastName" type="text" class="form-control" id="last-name"></InputText>
                        <ValidationMessage For="() => _employee.LastName" />
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="form-group">
                        <label for="id-number">ID Number:</label>
                        <InputText @bind-Value="_employee.IDNumber" type="text" class="form-control" id="id-number"></InputText>
                        <ValidationMessage For="() => _employee.IDNumber" />
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="form-group">
                        <label for="phone-number">Phone Number:</label>
                        <InputText @bind-Value="_employee.PhoneNumber" type="phone" class="form-control" id="phone-number"></InputText>
                        <ValidationMessage For="() => _employee.PhoneNumber" />
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="form-group">
                        <label for="email">Email:</label>
                        <InputText @bind-Value="_employee.Email" type="text" class="form-control" id="email"></InputText>
                        <ValidationMessage For="() => _employee.Email" />
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="form-group">
                        <label for="addressLine1">Address Line 1:</label>
                        <InputText @bind-Value="_employee.AddressLine1" type="text" class="form-control" id="addressLine1"></InputText>
                        <ValidationMessage For="() => _employee.AddressLine1" />
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="form-group">
                        <label for="addressLine2">Address Line 2:</label>
                        <InputText @bind-Value="_employee.AddressLine2" type="text" class="form-control" id="addressLine2"></InputText>
                        <ValidationMessage For="() => _employee.AddressLine2" />
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="form-group">
                        <label for="city">City:</label>
                        <InputText @bind-Value="_employee.City" type="text" class="form-control" id="city"></InputText>
                        <ValidationMessage For="() => _employee.City" />
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="form-group">
                        <label for="postalCode">Post Code:</label>
                        <InputText @bind-Value="_employee.PostalCode" type="text" class="form-control" id="postalCode"></InputText>
                        <ValidationMessage For="() => _employee.PostalCode" />
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="form-group">
                        <label for="birth-date">Date of Birth:</label>
                        <DateInput TValue="DateOnly?" @bind-Value="@_employee.BirthDate" id="birth-date" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="footer-buttons">
                    <div class="close">
                        <Button Color="ButtonColor.Secondary" @onclick="OnHideModalClick">Close</Button>
                    </div>
                    <div>
                        <Button Color="ButtonColor.Primary" Type="ButtonType.Submit">Save changes</Button>
                    </div>
                </div>
            </div>
        </EditForm>
    </BodyTemplate>
</Modal>

<ListTemplate TItem="EmployeeModel"
              Title="Employee"
              Items="_employees"
              PageSize="15"
              SearchPredicate="MatchesSearch"
              ShowAddButton="true"
              OnAdd="OnShowModalClick">
    <HeaderTemplate>
        <tr>
            <th>Title</th>
            <th>Name</th>
            <th>Surname</th>
            <th>ID Number</th>
            <th>Phone Number</th>
            <th>Email</th>
            <th></th>
        </tr>
    </HeaderTemplate>
    <RowTemplate Context="employee">
        <tr>
            <td>@employee.Title</td>
            <td>@employee.FirstName</td>
            <td>@employee.LastName</td>
            <td>@employee.IDNumber</td>
            <td>@employee.PhoneNumber</td>
            <td>@employee.Email</td>

            <td>
                <Icon Name="IconName.PersonFillDash" Size="IconSize.x5" Color="IconColor.Danger" @onclick="() => DeleteEmployee(employee)" Class="me-2" Style="cursor: pointer" />
                <Icon Name="IconName.PersonFillGear" Size="IconSize.x5" Color="IconColor.Secondary" @onclick="() => OnEditEmployeeClick(employee)" Style="cursor: pointer" />
            </td>
        </tr>
    </RowTemplate>
</ListTemplate>
  