@page "/service-reports"

@using AeroMech.UI.Web.Pages.ListTemplate;
@using System.Globalization;
@using AeroMech.Models;
@using BlazorBootstrap

<PageTitle>Service Reports</PageTitle>

<ListTemplate TItem="ServiceReportModel"
              Title="Service Reports"
              Items="_serviceReports"
              PageSize="15"
              SearchPredicate="MatchesSearch"
              ShowAddButton="true"
              OnAdd="NavigateToAdd">
    <HeaderTemplate>
        <tr>
            <th>Report Number</th>
            <th>Quote Number</th>
            <th>Report Date</th>
            <th>Sales Order Number</th>
            <th>Serial Number</th>
            <th>Instruction</th>
            <th>Client</th>
            <th>Service Type</th>
            <th>Total</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
    </HeaderTemplate>

    <RowTemplate Context="sr">
        <tr>
            <td>@($"AEM {sr.ServiceReportNumber}")</td>
            <td>@($"AEM {sr.QuoteNumber}")</td>
            <td>@sr.ReportDate.ToString("dd/MM/yyyy")</td>
            <td>@sr.SalesOrderNumber</td>
            <td>@sr.Vehicle?.SerialNumber</td>
            <td style="max-width:400px">@sr.Instruction</td>
            <td>@sr.Client?.Name</td>
            <td>@sr.ServiceType</td>
            <td>@CalculateTotal(sr).ToString("C", CultureInfo.CurrentCulture)</td>
            <td>@(sr.IsComplete ? "Complete" : "Incomplete")</td>
            <td>
                <Icon Name="IconName.Pencil" Size="IconSize.x5" Class="me-2" Color="IconColor.Primary" @onclick="() => Edit(sr.Id)" Style="cursor: pointer" />
                <Icon Name="IconName.Printer" Size="IconSize.x5" Color="IconColor.Secondary" @onclick="() => Print(sr.Id)" Style="cursor: pointer" />
            </td>
        </tr>
    </RowTemplate>
</ListTemplate>