@page "/service-reports"
@using BlazorBootstrap
@using System.Globalization

<PageTitle>Service Reports</PageTitle>

<div class="container-fluid">

    <div class="row">
        <div class="col-4 header">
            <h1>Service Reports</h1>
            <span class="add-icon">
                <Icon Name="IconName.PlusSquare" Size="IconSize.x2" Color="IconColor.Primary" @onclick="NavigateToAddServiceReport" Style="cursor: pointer" />
            </span>
        </div>

        <div class="col-1">
        </div>
        <div class="col-7 text-right"></div>
    </div>
</div>

@if (serviceReports == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="mb-3">
        <input type="text" class="form-control" placeholder="Search..."
               @oninput="(e) => SearchTerm = e.Value.ToString()" />
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Report Number</th>
                <th>Quote Number</th>
                <th>Report Date</th>
                <th>Sales Order Number</th>
                <th>Instruction</th>
                <th>Client</th>
                <th>Service Type</th>
                <th>Total</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var serviceReport in FilteredServiceReports)
            {
                <tr>
                    <td>@($"AEM {@serviceReport.Id}")</td>
                    <td>@($"AEM {@serviceReport.QuoteNumber}")</td>
                    <td>@serviceReport.ReportDate.ToString("dd/MM/yyyy")</td>
                    <td>@serviceReport.SalesOrderNumber</td>
                    <td style="max-width:400px">@serviceReport.Instruction</td>
                    <td>@serviceReport.Client?.Name</td>
                    <td>@serviceReport.ServiceType</td>
                    <td>@CalcuateTotalReportValue(serviceReport).ToString("C", CultureInfo.CurrentCulture)</td>
                    <td>@(serviceReport.IsComplete == true ? "Complete" : "Incomplete")</td>
                    <td>
                        @*  <Icon Name="IconName.Trash3" Size="IconSize.x4" Color="IconColor.Danger" @onclick="() => DeleteServiceReport(serviceReport.Id)" Class="me-2" Style="cursor: pointer" /> *@
                        <Icon Name="IconName.Pencil" Size="IconSize.x4" Class="me-2" Color="IconColor.Primary" @onclick="() => EditServiceReport(serviceReport.Id)" Style="cursor: pointer" />
                        <Icon Name="IconName.Printer" Size="IconSize.x4" Color="IconColor.Secondary" hidden="@(!serviceReport.IsComplete)" @onclick="() => PrintServiceReport(serviceReport.Id)" Style="cursor: pointer" />
                    </td>
                </tr>
            }
        </tbody>
    </table>
}


