@page "/quotes"

<PageTitle>Quotes</PageTitle>

<ListTemplate TItem="ServiceReportModel"
          Title="Quotes"
          Items="_quotes"
          PageSize="15"
          SearchPredicate="MatchesSearch"
          ShowAddButton="true"
          OnAdd="NavigateToAddQuote">
    <HeaderTemplate>
        <tr>
            <th>Quote Number</th>
            <th>Report Number</th>
            <th>Report Date</th>
            <th>Serial Number</th>
            <th>Instruction</th>
            <th>Client</th>
            <th>Service Type</th>
            <th>Total</th>
            <th>Status</th>
            <th></th>
        </tr>
    </HeaderTemplate>

    <RowTemplate Context="q">
        <tr>
            <td>@($"AEM {q.QuoteNumber}")</td>
            <td>@($"AEM {q.ServiceReportNumber}")</td>
            <td>@q.ReportDate.ToString("dd/MM/yyyy")</td>
            <td>@q.Vehicle?.SerialNumber</td>
            <td style="max-width:400px">@q.Instruction</td>
            <td>@q.Client?.Name</td>
            <td>@q.ServiceType</td>
            <td>@CalculateTotal(q).ToString("C", CultureInfo.CurrentCulture)</td>
            <td>@(q.IsComplete == true ? "Complete" : "Incomplete")</td>
            <td>
                <Icon Name="IconName.Pencil" Size="IconSize.x5" Class="me-2" Color="IconColor.Primary" @onclick="() => EditQuote(q.Id)" Style="cursor: pointer" />
                <Icon Name="IconName.Printer" Size="IconSize.x5" Color="IconColor.Secondary" @onclick="() => PrintQuote(q.Id)" Style="cursor: pointer" />
            </td>
        </tr>
    </RowTemplate>
</ListTemplate>