@page "/users"

<PageTitle>Users</PageTitle>

<Modal @ref="_modal" Title="@_title">
    <BodyTemplate>
        <EditForm Model="@_user" OnValidSubmit=@AddUser>
            <DataAnnotationsValidator />
            <div class="container-fluid">
                <div class="row">
                    <div class="form-group">
                        <label for="email">Email:</label>
                        <InputText @bind-Value=_user.Email class="form-control" id="email" />
                        <ValidationMessage For="() => _user.Email" />
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="form-group">
                        <label for="user-name">User Name:</label>
                        <InputText @bind-Value="_user.UserName" type="text" class="form-control" id="user-name"></InputText>
                        <ValidationMessage For="() => _user.UserName" />
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="form-group">
                        <label for="phone-number">Phone Number:</label>
                        <InputText @bind-Value="_user.PhoneNumber" type="phone" class="form-control" id="phone-nunmer"></InputText>
                        <ValidationMessage For="() => _user.PhoneNumber" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="footer-buttons">
                    <div class="close">
                        <Button Color="ButtonColor.Secondary" @onclick="OnHideModalClick">Close</Button>
                    </div>
                    <div>
                        <Button Color="ButtonColor.Primary" Type="ButtonType.Submit">Save changes</Button>
                    </div>
                </div>
            </div>
        </EditForm>
    </BodyTemplate>
</Modal>

<ListTemplate TItem="IdentityUser"
              Title="Users"
              Items="_users"
              PageSize="15"
              SearchPredicate="MatchesSearch"
              ShowAddButton="true"
              OnAdd="AddUserClick">
    <HeaderTemplate>
        <tr>
            <th>User Name</th>
            <th>Email</th>
            <th>Phone Number</th>
            <th></th>
        </tr>
    </HeaderTemplate>
    <RowTemplate Context="user">
        <tr>
            <td>@user.UserName</td>
            <td>@user.Email</td>
            <td>@user.PhoneNumber</td>
            <td>
                <Icon Name="IconName.BuildingFillDash" Size="IconSize.x5" Color="IconColor.Danger" @onclick="() => DeleteUser(user)" Class="me-2" Style="cursor: pointer" />
                <Icon Name="IconName.BuildingFillGear" Size="IconSize.x5" Color="IconColor.Secondary" @onclick="() => EditUser(user)" Style="cursor: pointer" />
            </td>
        </tr>
    </RowTemplate>
</ListTemplate>
