@page "/users"
@using AeroMech.Models
@using BlazorBootstrap
@using Newtonsoft.Json

<PageTitle>Users</PageTitle>

<Modal @ref="modal" Title="@title">
    <BodyTemplate>
        <EditForm Model="@user" OnValidSubmit=@AddUser>
            <DataAnnotationsValidator />
            <div class="container-fluid">
                <div class="row">
                    <div class="form-group">
                        <label for="email">Email:</label>
                        <InputText @bind-Value=user.Email class="form-control" id="email" />
                        <ValidationMessage For="() => user.Email" />
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="form-group">
                        <label for="user-name">User Name:</label>
                        <InputText @bind-Value="user.UserName" type="text" class="form-control" id="user-name"></InputText>
                        <ValidationMessage For="() => user.UserName" />
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="form-group">
                        <label for="phone-number">Phone Number:</label>
                        <InputText @bind-Value="user.PhoneNumber" type="phone" class="form-control" id="phone-nunmer"></InputText>
                        <ValidationMessage For="() => user.PhoneNumber" />
                    </div>
                </div>
                @*  <div class="row mt-3">
                <div class="form-group">
                <label for="contact-person-email">Contact Person email:</label>
                <InputText @bind-Value="client.ContactPersonEmail" type="email" class="form-control" id="contact-person-email"></InputText>
                <ValidationMessage For="() => client.ContactPersonEmail" />
                </div>
                </div>
                <div class="row mt-5">
                <div class="form-group">
                <label for="addressLine1">Address Line 1:</label>
                <InputText @bind-Value="client.AddressLine1" type="text" class="form-control" id="addressLine1"></InputText>
                <ValidationMessage For="() => client.AddressLine1" />
                </div>
                </div>
                <div class="row mt-3">
                <div class="form-group">
                <label for="addressLine2">Address Line 2:</label>
                <InputText @bind-Value="client.AddressLine2" type="text" class="form-control" id="addressLine2"></InputText>
                <ValidationMessage For="() => client.AddressLine2" />
                </div>
                </div>
                <div class="row mt-3">
                <div class="form-group">
                <label for="city">City:</label>
                <InputText @bind-Value="client.City" type="text" class="form-control" id="city"></InputText>
                <ValidationMessage For="() => client.City" />
                </div>
                </div>
                <div class="row mt-3">
                <div class="form-group">
                <label for="postalCode">Post Code:</label>
                <InputText @bind-Value="client.PostalCode" type="text" class="form-control" id="postalCode"></InputText>
                <ValidationMessage For="() => client.PostalCode" />
                </div>
                </div> *@
            </div>
            <div class="row">
                <div class="footer-buttons">
                    <div class="close">
                        <Button Color="ButtonColor.Secondary" @onclick="OnHideModalClick">Close</Button>
                    </div>
                    <div>
                        <Button Color="ButtonColor.Primary" Type="ButtonType.Submit">Save changes</Button>
                    </div>
                </div>

            </div>
        </EditForm>
    </BodyTemplate>
</Modal>

<div class="container-fluid">
    <div class="row">
        <div class="col-6 header">
            <h1>Users</h1>
            <span class="add-icon">
                <Icon Name="IconName.PersonBadgeFill" Size="IconSize.x2" Color="IconColor.Primary" @onclick="AddUserClick" Style="cursor: pointer" />
            </span>
        </div>

        <div class="col-1">
        </div>
        <div class="col-5 text-right"></div>
    </div>
</div>
<div class="mb-3">
        <input type="text" class="form-control" placeholder="Search..."
               @oninput="(e) => SearchTerm = e.Value.ToString()" />
    </div>
    <table class="table">
        <thead>
            <tr>

                <th>User Name</th>
                <th>Email</th>
                <th>Phone Number</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in FilteredUsers)
            {
                <tr>

                    <td>@user.UserName</td>
                    <td>@user.Email</td>
                    <td>@user.PhoneNumber</td>

                    <td>
                        <Icon Name="IconName.BuildingFillDash" Size="IconSize.x4" Color="IconColor.Danger" @onclick="() => DeleteUser(user)" Class="me-2" Style="cursor: pointer" />
                        <Icon Name="IconName.BuildingFillGear" Size="IconSize.x4" Color="IconColor.Secondary" @onclick="() => EditUser(user)" Style="cursor: pointer" />
                    </td>
                </tr>
            }
        </tbody>
    </table>